/* #region common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: auto;
}

/* #endregion common rules */

/* #region utilities */
:root {
    --rl-primary: #0084FD;
    --rl-primary-lite: #B5DDFF;
    --rl-secondary: #9792E4;
    --rl-cta: #FDC15F;
    --rl-darker: #111111;
    --rl-dark-lite: #333333;
    --rl-light: #FFFFFF;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.f_wrap {
    flex-wrap: wrap;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_6 {
    width: 50%;
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_12 {
    width: 100%;
}

[class^="col_"] {
    padding: 1rem;
}


/* #endregion utilities */

/* #region debug */
.debug .nav_sx,
.debug .nav_dx {
    border: 1px solid black;
}

.debug .demo [class^="col_"] {
    border: 1px dashed blue;
    height: 150px;
}

.debug .planning .col_6, .debug .partners .card {
    border: 1px solid black;
    height: 150px;
}

.debug .heading{
    padding: 2rem 0;

}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--rl-primary);
}

.nav_sx,
.nav_dx {
    padding: 0.5rem;
}


/* #endregion header */

/* #region main */
.demo [class^="col_"] {
    background-color: var(--rl-primary-lite);
    border-radius: 0.5rem;
}

.planning {
    background-color: var(--rl-secondary);
}

.partners .heading{
    text-align: center;
}

.partners .card {
    background-color: var(--rl-secondary);
    border-radius:1rem;
    margin-bottom: 1rem;
}

.partners .col_4, .partners .col_8{
    padding: 1rem;
}



/* #endregion main */

/* #region footer */

/* #endregion footer */

/* #region responsive */

/* #endregion responsive */