/* #region common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: auto;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 50px;
    padding-bottom: 2rem;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

p {
    font-size: 10px;
}

/* #endregion common rules */

/* #region utilities */
:root {
    --rl-primary: #0084FD;
    --rl-primary-lite: #B5DDFF;
    --rl-secondary: #9792E4;
    --rl-cta: #FDC15F;
    --rl-darker: #111111;
    --rl-dark-lite: #333333;
    --rl-light: #FFFFFF;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.f_wrap {
    flex-wrap: wrap;
}

.col_4 {
    width: calc(100% / 12 * 4 - 1rem);
}

.col_6 {
    width: 50%;
}

.col_8 {
    width: calc(100% / 12 * 8 - 0.5rem);
}

[class^="col_"] {
    padding: 1rem;
}


/* #endregion utilities */

/* #region debug */
.debug .nav_sx,
.debug .nav_dx {
    border: 1px solid black;
}

.debug .demo [class^="col_"] {
    border: 1px dashed blue;
    height: 150px;
}

.debug .planning .col_6,
.debug .partners .card {
    border: 1px solid black;
    height: 150px;
}

.debug .heading {
    padding: 2rem 0;
}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--rl-primary);
}

.nav_sx,
.nav_dx {
    padding: 0.5rem;
}

/* #endregion header */

/* #region main */
.demo,
.planning,
.partners,
.benefits,
.about_us,
.cta {
    padding: 2rem 0;
}

.demo [class^="col_"],
.benefits [class^="col_"] {
    background-color: var(--rl-primary-lite);
    border-radius: 0.5rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.planning,
.partners .card,
.benefits,
.cta {
    background-color: var(--rl-secondary);
}

.partners .heading {
    text-align: center;
}

.partners .card {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.partners .col_4,
.partners .col_8 {
    padding: 1rem;
}

.cta {
    text-align: center;
}

/* #endregion main */

/* #region footer */
footer {
    background-color: var(--rl-dark-lite);
    color: var(--rl-light);
    text-align: center;
    padding: 2rem 0;
}

/* #endregion footer */

/* #region responsive tablet*/

@media screen and (max-width: 768px) {
    header {
        background-color: green;
    }

    .container {
        width: 95%;
    }

    .planning .row {
        display: block;
    }

    .planning [class^="col_"] {
        width: 100%;
    }

    .planning .dx {
        text-align: center;
    }

    .benefits h2 {
        text-align: center;
    }

    .benefits [class^="col_"] {
        width: calc(50% - 1rem) gap: 1rem;
        margin-right: 1rem;
    }
}

/* #endregion responsive tablet*/

/* #region responsive mobile*/

@media screen and (max-width: 480px) {
    header {
        background-color: red;
    }

    .container {
        width: 95%;
    }

    .demo [class^="col_"],
    .planning [class^="col_"],
    .partners [class^="col_"],
    .benefits [class^="col_"],
    .about_us [class^="col_"] {
        width: 100%;
    }

    .demo .row,
    .planning .row,
    .partners .card,
    .benefits .row,
    .about_us .container {
        display: block;
    }

    .demo .col_8,
    .planning .sx {
        text-align: left;
    }

    .demo .col_4,
    .planning .dx,
    .partners .avatar,
    .partners .bio,
    .benefits h2 {
        text-align: center;
    }
}

/* #endregion responsive mobile*/